In [1]:
#dependencies
import pandas as pd

In [2]:
#set file path 
students_path = "../Resources/students_complete.csv"
schools_path = "../Resources/schools_complete.csv"

#load csv data 
student_data_df = pd.read_csv(students_path)
school_data_df = pd.read_csv(schools_path)

school_data_df

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [48]:
merge_df = pd.merge(student_data_df, school_data_df, how="left", on="school_name")
merge_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [49]:
#calculate the total number of schools
schools_count = len(merge_df["school_name"].unique())
schools_count

15

In [50]:
#calculate the total number of students
student_count = len(merge_df["Student ID"].unique())
student_count

39170

In [51]:
#calculate total budget
total_budget = sum(merge_df["budget"].unique())
total_budget

24649428

In [52]:
#calculate average math and reading score
average_math_score = merge_df["math_score"].mean()
average_reading_score = merge_df["reading_score"].mean()

print(average_reading_score)

81.87784018381414

In [53]:
#Calculate the percentage of students with a passing math score (70 or greater)
passing_math = merge_df.loc[merge_df["math_score"]>= 70]["math_score"].count()
passing_math_percent = (passing_math / student_count)*100
passing_math_percent

74.9808526933878

In [54]:
#Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading = merge_df.loc[merge_df["reading_score"]>= 70]["math_score"].count()
passing_reading_percent = (passing_reading / student_count)*100
passing_reading_percent

85.80546336482001

In [55]:
#Calculate the percentage of students who passed math and reading (% Overall Passing)
pass_both = (merge_df[(merge_df["math_score"]>= 70) & (merge_df["reading_score"]>= 70)]["student_name"].count()/student_count)*100
pass_both

65.17232575950983

In [11]:
district_summary = pd.DataFrame({"Total Schools":[schools_count],"Total Students":[student_count],"Total Budget":[total_budget],
                   "Average Math Score":[average_math_score],"Average Reading Score":[average_math_score],
                   "%Passing Math": [passing_math_percent],"%Passing Reading":[passing_reading_percent],
                   "Overall Passing":[pass_both]})
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,%Passing Math,%Passing Reading,Overall Passing
0,15,39170,24649428,78.985371,78.985371,74.980853,85.805463,65.172326

In [59]:
#group by school
schools = merge_df.set_index("school_name").groupby(["school_name"])
schools

In [69]:
#group by school type
school_type = school_data_df.set_index("school_name")["type"]
school_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [34]:
#total number of students per school
students_per_school = merge_df["school_name"].value_counts()
students_per_school

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [35]:
#total school budget
budget_per_school = school_data_df.set_index("school_name")["budget"]
budget_per_school

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [71]:
#per student budget
budget_per_student = budget_per_school / students_per_school
budget_per_student

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [60]:
#average math score per school
avg_math_per_school = schools["math_score"].mean()
avg_math_per_school

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [61]:
#average reading score per school
avg_reading_per_school = schools["reading_score"].mean()
avg_reading_per_school

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [37]:
percent_pass_math = (merge_df[merge_df['math_score'] >= 70].groupby('school_name')['Student ID'].count()/students_per_school)*100
percent_pass_math

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [38]:
percent_pass_reading = (merge_df[merge_df['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/students_per_school)*100 
percent_pass_reading

Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [39]:
overall_pass_percent = (merge_df[(merge_df['reading_score'] >= 70) & (merge_df['math_score'] >= 70)].groupby('school_name')['Student ID'].count()/students_per_school)*100
overall_pass_percent

Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [73]:
school_summary = pd.DataFrame({"School Type": school_type,"Total Students":students_per_school,
                              "Total School Budget": budget_per_school,"Per Student Budget":budget_per_student,
                              "Average Math Score": avg_math_per_school, "Average Reading Score":avg_reading_per_school,
                              "%Passing Math":percent_pass_math,"%Passing Reading":percent_pass_reading, 
                               "%Overall Passing":overall_pass_percent})
school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,%Passing Math,%Passing Reading,%Overall Passing
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [ ]:
top_5_performers = school_summary.sort_values("Ov")