In [1]:
#dependencies
import pandas as pd

In [2]:
#set file path 
students_path = "../Resources/students_complete.csv"
schools_path = "../Resources/schools_complete.csv"

#load csv data 
student_data_df = pd.read_csv(students_path)
school_data_df = pd.read_csv(schools_path)

merge_df = pd.merge(student_data_df, school_data_df, how="left", on="school_name")
merge_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [3]:
#calculate the total number of schools
schools_count = len(merge_df["school_name"].unique())
schools_count

15

In [4]:
#calculate the total number of students
student_count = len(merge_df["Student ID"].unique())
student_count

39170

In [5]:
#calculate total budget
total_budget = sum(merge_df["budget"].unique())
total_budget

24649428

In [6]:
#calculate average math and reading score
average_math_score = merge_df["math_score"].mean()
average_reading_score = merge_df["reading_score"].mean()

print(average_reading_score)

81.87784018381414

In [10]:
#Calculate the percentage of students with a passing math score (70 or greater)
passing_math = merge_df.loc[merge_df["math_score"]>= 70]["math_score"].count()
passing_math_percent = (passing_math / student_count)*100
passing_math_percent

74.9808526933878

In [11]:
#Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading = merge_df.loc[merge_df["reading_score"]>= 70]["math_score"].count()
passing_reading_percent = (passing_reading / student_count)*100
passing_reading_percent

85.80546336482001

In [17]:
#Calculate the percentage of students who passed math and reading (% Overall Passing)
pass_both = (merge_df[(merge_df["math_score"]>= 70) & (merge_df["reading_score"]>= 70)]["student_name"].count()/student_count)*100
pass_both

65.17232575950983

In [25]:
district_summary = pd.DataFrame({"Total Schools":[schools_count],"Total Students":[student_count],"Total Budget":[total_budget],
                   "Average Math Score":[average_math_score],"Average Reading Score":[average_math_score],
                   "%Passing Math": [passing_math_percent],"%Passing Reading":[passing_reading_percent],
                   "Overall Passing":[pass_both]})
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,%Passing Math,%Passing Reading,Overall Passing
0,15,39170,24649428,78.985371,78.985371,74.980853,85.805463,65.172326

KeyError: "None of ['school'] are in the columns"